@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
:root {
    --color-primary: #2274C3;
    --color-white: #fff;
    --color-white-100: #848484;
    --color-slate-400: #94a3b8;
}

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
}

body {
    line-height: 1.5;
}

.font-jakarta{
    font-family: "Plus Jakarta Sans", sans-serif;
}

.main-comming-soon{
    display:flex;
    flex-direction: column;
    gap: 28px;
    justify-content:center;
    align-items:center;
    
    
}

.comming-soon-text{
  font-size:40px;
  font-weight: 500;
}

.comming-soon-button-container{
  display: flex; 
  gap:12px;
  width: 100%;
  justify-content:center;
}

.btn-nav-page{
  width: 100%;
}


  .main-section {
    display: flex;
    height: 100vh;
    padding: 72px 28px;
  }

  .main-section-home {
    display: flex;
    height: 100vh;
    padding: 72px 28px;
    justify-content:center;
  }
  
  .form-container {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .form-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .image-container {
    width: 100%;
    padding: 40px;
    display: none;
    gap: 10px;
    background-color: var(--color-primary);
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  }
  
  .image-content {
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .logo-container {
    display: flex;
    gap: 10px;
  }
  
  .logo-text {
    align-self: center;
    font-weight: 600;
    font-size: 40px;
  }
  
  .header-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .header-title {
    font-weight: 500;
    font-size: 24px;
  }
  
  .header-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color-white-100);
    border-bottom: 1px solid;
    padding-bottom: 32px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-label {
    font-weight: 600;
    font-size: 16px;
  }
  
  .form-input {
    border-radius: 0.375rem;
    font-size: 16px;
    border: 1px solid var(--color-slate-400);
    padding: 16px 12px;
    width: 100%;
  }
  
  .form-input:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 1px var(--color-primary);
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .submit-button {
    padding: 12px;
    width: 100%;
    background-color: var(--color-primary);
    text-align: center;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    font-weight: 500;
    cursor: pointer;
  }
  
  .submit-button:hover {
    opacity: 0.95;
  }
  
  .button-text {
    font-size: 18px;
    font-weight: 500;
  }
  
  .account-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
    color: var(--color-white-100);
  }
  
  .link {
    color: var(--color-primary);
    font-weight: 600;
    text-decoration: none;
  }
  
  .hero-image {
    align-self: center;
    text-align: center;
    width: 500px;
  }
  
  .image-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .image-title {
    font-weight: 700;
    font-style: italic;
    color: white;
    font-size: 36px;
    line-height: 1;
    text-align: end;
  }
  
  .image-subtitle {
    font-weight: 500;
    font-style: italic;
    color: white;
    font-size: 36px;
    line-height: 1;
    text-align: end;
  }
  
  @media (min-width: 768px) {
    .hero-image {
      width: 400px;
    }
    
    .image-content {
      justify-content: space-between;
    }
  }
  
  @media (min-width: 1024px) {
    .main-section {
      padding: 28px;
    }
    
    .form-container {
      padding: 80px;
    }
    
    .image-container {
      display: flex;
    }
    
    .image-content {
      justify-content: center;
    }
  }